<div class="row">
    <h2>Educación</h2>
        <div class="col-lg-1"></div>

        <div class="col-lg-10">
            <ul>
                <li>
                    <h3>Instituto Superar de tecnicos para la salud - Gobierno de la Ciudad de Buenos Aires (2009-2010)</h3>
                </li>
                <p>Técnica en anestesia</p>
                <p>                    
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla numquam debitis, ullam ea perferendis dignissimos voluptates. Expedita commodi, animi, fuga soluta magnam consequatur modi est error, perspiciatis et quisquam.
                </p>

            </ul>

            <ul>
                <li>
                    <h3>Colegio San José (2002-2004)</h3>
                </li>
                <p>Técnica en producción agropecuaria</p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla numquam debitis, ullam ea perferendis dignissimos voluptates. Expedita commodi, animi, fuga soluta magnam consequatur modi est error, perspiciatis et quisquam.
                </p>

            </ul>

            <ul>
                <li>
                    <h3>Educación</h3>
                </li>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla numquam debitis, ullam ea perferendis dignissimos voluptates. Expedita commodi, animi, fuga soluta magnam consequatur modi est error, perspiciatis et quisquam.
                </p>

            </ul>

        </div>
</div>