div{
    background-color: #d7f8b8;
}


#nombre{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
   
}

#titulo{
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
}

#ubicacion{
    margin-top: -10px;
    text-align: center;
}

#acerca{
    font-size: x-large;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 30px;
}

#acercatext{
    margin-left: 30px;
}

/*Foto de perfil*/

@media(min-width: 576px){
    #fotobt{
        position: absolute;
        width: 20%;
        left: 3%;
        top: 700px;
    }
}

@media(max-width: 575px){
    #fotobt{
        position: absolute;
        width: 40%;
        left: 33%;
        top: 600px;
    }
}