div{
    background-color: #ffd0a8;
}


#nombre{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
   
}

#titulo{
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
}

#ubicacion{
    margin-top: -10px;
    text-align: center;
}

#acerca{
    font-size: x-large;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 30px;
}

#acercatext{
    margin-left: 30px;
}

#fotobt{
    position: absolute;
    left: 60px;
    width: 20%;
    top: 700px;
}

#fotobt{
    position: absolute;
    left: 60px;
    width: 20%;
    top: 700px;
}