<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/FotoBT.png" class="img-fluid" id="fotobt">

    </div>

    <div class="col-xs-12 col-sm-2 col-md-5 col-lg-4">
        <p id="nombre">Belén Torres</p>
        <p id="titulo">Full Stack Developer Jr</p>
        <p id="ubicacion">Buenos Aires (Argentina)</p>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-12 col-lg-12">
        <span>
            <p id="acerca"> Acerca de mí</p>
            <p id="acercatext">Full Stack Developer Jr y Técnica en anestesia y Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores deserunt explicabo distinctio dolor modi eaque. Doloremque velit adipisci dolorum cumque. Eligendi repellat est quasi doloribus labore rerum optio facere autem.</p>
        </span>
    </div>


</div>