<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [imageSrc]="'../assets/imagenes/html.png'"
            [showImage]="true"
            [imageWidth]="50"
            [imageHeight]="50"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [animationDuration]="500"
            [startFromZero]=false 
            [showUnits]="false"   
        ></circle-progress> 
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [imageSrc]="'../assets/imagenes/css.png'"
            [showImage]="true"
            [imageWidth]="35"
            [imageHeight]="50"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [animationDuration]="500"
            [startFromZero]=false 
            [showUnits]="false"   
             
        ></circle-progress> 
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [imageSrc]="'../assets/imagenes/js.png'"
            [showImage]="true"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [imageHeight]="50"
            [imageWidth]="80"
            [animationDuration]="500"
            [startFromZero]=false
            titleFontSize=20
            subtitleFontSize=14  
            [showUnits]="false"   
            [showSubtitle]="false" 
        ></circle-progress> 
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [imageSrc]="'../assets/imagenes/english.png'"
            [showImage]="true"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [imageHeight]="70"
            [imageWidth]="60"
            [animationDuration]="500"
            [startFromZero]=false
            [showUnits]="false"   
            
        ></circle-progress> 
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [imageSrc]="'../assets/imagenes/Collab2.png'"
            [showImage]="true"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [imageHeight]="70"
            [imageWidth]="70"
            [animationDuration]="500"
            [startFromZero]=false
            [showUnits]="false"   
            
        ></circle-progress> 
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [imageSrc]="'../assets/imagenes/Persistent.jpg'"
            [showImage]="true"
            [backgroundColor]="'#F1F1F1'"
            [backgroundStrokeWidth]="11"
            [backgroundPadding]="7"
            [radius]="73"
            [space]="3"
            [toFixed]= 2
            [maxPercent]="100"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'"
            [innerStrokeWidth]="3"
            [imageHeight]="70"
            [imageWidth]="70"
            [animationDuration]="500"
            [startFromZero]=false  
            [showUnits]="false"   
            
        ></circle-progress> 
    </div>

    

</div>

