<div class="row">
    <h3 id="exp">Experiencia laboral</h3>
        <div class="col-lg-1"></div>

        <div class="col-lg-10">
            <ul>
                <li>
                    <h3 id="ex1">Hospital Italiano de Buenos Aires (2010 - Actualidad)</h3>
                </li>
                <p>Técnica en anestesia</p>
                <p>Preparación de quirófano para cirugía. Preparación de medicación. Asistencia.</p>

            </ul>

            <ul>
                <li>
                    <h3 id="ex2">MSPS (2007-2008)</h3>
                </li>
                <p> Asistente administrativa</p>
                <p>Preparación de documentación. Cadetería. Armado de minutas. Cobranzas. Logística.</p>
            </ul>

            <ul>
                <li>
                    <h3 id="ex3">Manía Virtual (2005-2007)</h3>
                </li>
                <p>Empleada</p>
                <p>Atención al cliente. Preparación de documentación. Mantenimiento básico de equipos.</p>
            </ul>

        </div>
</div>